/* * = RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* TIPOGRAFIAS*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




/* * = NAVBAR*/
.navbar-brand{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;

}
.navbar-brand:hover{
    color: #f0791dfe;
}
.nav-link{
    color:#000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    transition: 0.1;
}
.nav-link:hover{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline:none;
    margin-right: -35px;
    border: 2px solid #f0791dfe;
    font-family: 'Rubik', sans-serif;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color: #f0791dfe;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;

}
.btn0:hover{
    box-shadow: 1px 1px 1px 1px rgb(125, 124, 124) ;
}

/* * =MAIN DEL INDEX*/
.hero__fondo{
    background-image:url(../assets/hero.jpg);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 85vh;
    width: 100%;   
    padding-right: 0px;
}
.hero__fondo__h1{
        font-size: 4.5rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: #DC5F00;
        animation-name: titulo;
        animation-iteration-count: 1;
        animation-timing-function:ease;
        animation-duration: 1s;
        animation-delay: 0;
    
}
.hero__fondo__h2{
        font-size: 2.5rem;
        font-weight: 500;
        font-family: 'Staatliches', cursive;
        color: #a5214b;
        text-shadow: 1px 1px #333;
}
.hero__fondo__p{
        font-size:1.3rem;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: rgb(3, 3, 4);

}
.btn1{
        height: 45px;
        width: 35%;
        border: none;
        outline: none;
        background-color: #f0791dfe;
        color: white;
        font-weight: 700;
        border-radius: 10px;
        justify-items: center;
}
.btn1:hover{
        box-shadow: 1px 1px 1px 1px rgb(125, 124, 124) ;
}
.card-text{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color: black;
}

/* * =MAIN DE PAG*/
.pages__fondo{
    background-image:url(../assets/hero.jpg);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    width: 100%;
}
.new__h6{
    color: #a5214b;
    font-size: 1.15rem;
}
.new__h6:hover{
font-style: oblique;
font-weight: bold;
}

/* NOSOTROS*/
.container_local h2 {
    margin-left: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #DC5F00;
    line-height: 60px;
}
.container_local p {
    margin-left: 1rem;
    font-size: 18px;
}
.hero_pages_h1{
    font-size:3rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: rgb(3, 3, 4);
    animation-name: title_pages;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    animation-duration: 5s;
    animation-delay: 0;
}
.card-img-top{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.card:hover{
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(169, 168, 168);
}
.titulo_card{
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    }
    .img_n{
        margin: 0;
        padding: 0;
    }

/* NOSOTROS__FONDO-FIJO  */
.fondo-fijo {
    background-image: url(../assets/bgfixed.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 20vh;
}
.product{
    background-color:rgb(241, 239, 239);

}
/* PAGINA PRODUCTOS*/
.tarjetas {
    background-color:#EEEEEE;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 50px;

}

.tarjeta {
    background-color:#ffff;
    width: 44vh;

}

.tarjeta img {
    width: 44vh;
    height: 200px;
    object-fit: cover;
    
}

.tarjeta__contenedora {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

.tarjeta__contenedora a {
    color:#191919;
    font-weight: bold;
    background-color: #ffa560;
    width: 100px;
    align-self: flex-end;
    padding: 10px;
    text-align: center;
}

.tarjeta__contenedora p {
    padding: 10px 0;
    border-top: 1px solid #191919;
    border-bottom: 1px solid #191919;
    align-self: flex-end;
    width: 100%;
}

.tarjetas__divisor {
    background-image: url(../assets/hero.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 70px;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content:left;
}
.tarjeta__contenedora h2{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

/* FOTTER*/
.pie-pagina{
    background-image: url(../assets/fondo_prueba14.png);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;   
    padding-right: 0px;    

}       
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.hero__fondof__h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #DC5F00;
}
.pie-pagina .grupo-1 .box h2{
    color: #a5214b;
    text-shadow: 1px 1px #333;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: start;
}
.hero__fondof__h3{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Staatliches', cursive;
    color: #a5214b;
    text-shadow: 1px 1px #333;
    text-align: center;

}
.pie-pagina .grupo-1 .box p{
    color: rgb(6, 6, 6);
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social{
    float: inline-start;
}
.pie-pagina .grupo-1 .red-social a{
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-image: linear-gradient(90deg,#F76B1C 0%, #fac261 100%);
    text-align: center;
    transition: all 300ms ease;
    border-radius: 10px;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #a5214b;
}
.pie-pagina .grupo-2{
    background-image: linear-gradient(90deg,#F76B1C 0%, #FAD961 100%);
    padding: 15px 10px;
    text-align: center;
    color: rgb(1, 1, 1);
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* * = CONTACTO- FORMULARIO*/
.icons {
    font-size: 35px;
    color: #DC5F00;
}

.form-group{
    display: flex;
    justify-content:left;
    gap: 10px;
}


.btn2{
    height: 45px;
    width: 20%;
    border: none;
    background-color: #f0791dfe;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    }

.btn2:hover{
    box-shadow: 1px 1px 1px 1px rgb(125, 124, 124) ;
}

/* KEYFRAMES*/
@keyframes titulo {
    0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
    }
    40% {   
    opacity: 0.6;
    }
    100% {
    transform: translateZ(0);
    opacity: 1;
    }
}